<ng-container *ngIf="activeLeague">
  <app-toolbar></app-toolbar>
  <div class="container-fluid p-0 d-flex h-100">
    <div id="bdSidebar" class="d-flex flex-column  
                    flex-shrink-0  
                    p-0 
                    text-bg-dark offcanvas-md offcanvas-start">
      <app-sidenav [customer]="customer"></app-sidenav>
    </div>
    <div class="flex-fill p-3">
      <router-outlet></router-outlet>
    </div>
  </div>

  <!--<mat-sidenav-container class="example-container" autosize>
    <mat-sidenav #sidenav class="example-sidenav" position="start" [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedTopGap]="options.value.top"
        [fixedBottomGap]="options.value.bottom" [(opened)]="showSideNav">
      <app-sidenav></app-sidenav>
    </mat-sidenav>
      <div class="container pt-2">
          <router-outlet></router-outlet>
      </div>
  </mat-sidenav-container>-->
</ng-container>
