/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css'

.card
    padding: 10px
    margin-botton: 10px
    margin-top: 10px

.card-header
    background-color: white
.btn
    margin-right: 7px